* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primaryFont;
  color: $primaryColor;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.list{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.border {
  border-bottom: 1px solid $primaryBorderColor;
}


.job-section__title,
.workers-section__title,
.our-clients {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}
